{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/custom.css' %}">
        
        <!--<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css">
        -->

    </head>

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>